

input {
    margin-top: 10px;
}

a {
    text-decoration: none;
}

table {
    border: none;
}
h1 {
    text-align: center;
}

.container {
    width: 70%;
    margin: 10% 14%;
}
.logindiv {
    width: 40%;
    margin: 20% 28%;
}

.login-container{
    width: 30%;
    height: 40vh;
    text-align: center;
    margin: 15% 35%;
    padding: 80px;
    box-shadow: rgba(90, 87, 60, 0.56) 0px 22px 70px 4px;
}

.details {
    width: 80%;
    margin: 5% 8% 10%;
}

.details td {
    width: 20px;
}
.event-container {
    margin-top: 5vh;
    width: 70%;
    margin: 4% 14%;
    min-height: 80vh;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.event-container h1 {
    background-color: lightgray;
    height: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.event-status p {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.event-status h4 {
    background-color: lightgray;
    height: 30px;
    text-align: center;
}

.event-view {
    padding: 10px 50px;
}

.profile-container h1{
    text-align: left;
    margin: 10px auto 2px 20px;
}

.profile-container {
    width: 65%;
    margin: 8% 17%;
    padding: 30px;
    height: 60vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.profile-container table{
    margin-left: 25%;
}
.profile-update-container{
    width: 60%;
    margin: 8% 17% 0;
    padding: 50px 30px 30px 14%;
    line-height: 2;
    height: 70vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.profile-pic{
    margin-left: 30%;
}
.profile-pic img{
    border-radius:50% ;
}

.profile-update-container .details {
    width: 120%;
    margin: 5% 8% 2%;
}
.signup-container{
    width: 50%;
    height: 40vh;
    margin: 13% 25%;
    padding: 30px 30px 30px 10%;
    box-shadow: rgba(90, 87, 60, 0.56) 0px 22px 70px 4px;
}


.profile-container a {
    float: right;
    margin-right: 20px
}


#id_plannedHours {
    width: 150px;
}

#id_consumedHours {
    width: 150px;
}

.event-uptade-details {
    width: 60%;
    margin: 5% 25% 10%;
}

.event-update-container {
    width: 50%;
    height: 40vh;
    margin: 13% 25%;
    padding: 30px;
    box-shadow: rgba(90, 87, 60, 0.56) 0px 22px 70px 4px;
}

.event-delete-container {
    width: 30%;
    height: 25vh;
    margin: 15% 35%;
    text-align: center;
    padding: 80px;
    box-shadow: rgba(90, 87, 60, 0.56) 0px 22px 70px 4px;
}

.calculator-container {
    width: 52%;
    padding: 30px;
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
    margin-left: 25%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.display {
    background-color: black;
    color: white;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    grid-column-start: 1;
    grid-column-end: 4;
    border: none;
}
.change-password-container{
    width: 50%;
    height: 45vh;
    margin: 13% 25%;
    padding: 10px 30px 30px 10%;
    box-shadow: rgba(90, 87, 60, 0.56) 0px 22px 70px 4px;
}
.profile-container img{
    border-radius: 50%;
    margin-right: 20px;
}