{% extends 'main.html' %}

{% block content %}
{% load static %}
<div class="event-container">
    <h1>TODO APP </h1>
    <div style="margin-bottom: 40px; margin-left: 50px;">
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <p>Planned Hours :</p> -->
            <span style="font-size: 18px; ">{{form.message}}</span>
            <span style="font-size: 16px;"> {{form.plannedHours}}</span>
            <input class="btn-sm btn-primary" type="submit" value="ADD">
        </form>
    </div>
    <div class="event-status">
        <p> <span style="color: green;">Completed =
                {{completed}}</span><span style="color:brown">Paused =
                {{paused}}</span> <span>Not started = {{not_started}}</span> <span style="color: red;">In Progress =
                {{progress}}</span> </p>
        <h4>My Tasks:</h4>

    </div>
    <div class="event-view">

        {% for event in events %}
        <div>
            {% if event.remainingHours <= 0 %} <p
                style="border: lightgray 1px solid; padding: 20px;background-color: oldlace; "> <span
                    class="message">{{event.message}}</span>
                <span style="text-align:right;float:right;margin-right:20px">
                    {% else %}
                    <p style="border: lightgray 1px solid; padding: 20px;"> <span
                            class="message">{{event.message}}</span>
                        <span style="text-align:right;float:right;margin-right:20px">
                            {% endif %}
                            <span style="margin-right: 30px;" class="duetime"> {{event.duetime|timeuntil}} </span>
                            <a style="padding: 7px;" class="btn-sm btn-primary"
                                href="update-event/{{event.id}}">Update</a> <a class="btn-sm btn-primary"
                                style="float:right;margin-left: 30px;" href="delete-event/{{event.id}}">Delete</a>
                        </span>
                    </p>
        </div>
        {% endfor %}
    </div>
    <div>

    </div>
</div>
<script>
    document.getElementById("id_plannedHours").placeholder = "Planned Hours"
</script>
{% endblock %}