{% extends 'main.html' %}

{% block content %}
<div class="event-update-container">
    <form action="" method="POST">
        {% csrf_token %}
        <table class="event-uptade-details">
            <tr>
                <td>{{form.message.label}} </td>
                <td>:</td>
                <td>{{form.message}}</td>
            </tr>
            <tr>
                <td>{{form.plannedHours.label}} </td>
                <td>:</td>
                <td>{{form.plannedHours}}</td>
            </tr>
            <tr>
                <td>{{form.consumedHours.label}} </td>
                <td>:</td>
                <td>{{form.consumedHours}}</td>
            </tr>
            <tr>
                <td>{{form.important_message.label}} </td>
                <td>:</td>
                <td>{{form.important_message}}</td>
            </tr>
            <tr>
                <td> {{form.status.label}} </td>
                <td>:</td>
                <td>{{form.status}}</td>
            </tr>
        </table>
        <p style="margin-left: 38%;margin-top: -6vh;"><input class="btn-primary" type="submit" value="Update"> <a
                class="btn py-1 mx-3 btn-secondary" href="{{request.META.HTTP_REFERER}}">Back</a></p>
    </form>
</div>
{% endblock %}