{% extends 'main.html' %}

{% block content %}
<div class="profile-container">
    <div style="display: flex;">
        <h1>Profile</h1> {% if user.profile.profile_pic %} <span><img width="100px" height="100px"
                src="{{user.profile.profile_pic.url}}" alt="profile"></span>{% endif %}
    </div>
    <hr>
    <h3>{{user.profile.full_name}}</h3>


    <p> <small>@{{request.user.username}}</small> <a href="/update" style="margin-right: 50px;">Edit
            profile</a> <a href="/changepassword">Change Password</a> </p>
    <hr width="200px" style="border: solid;">

    <table class="details">
        <tr>
            <td>Name </td>
            <td>:</td>
            <td>{{user.profile.full_name}}</td>
        </tr>
        <tr>
            <td>Email </td>
            <td>:</td>
            <td>{{request.user.email}}</td>
        </tr>
        <tr>
            <td>Contact </td>
            <td>:</td>
            <td>{{user.profile.contact}}</td>
        </tr>
        <tr>
            <td>Location </td>
            <td>:</td>
            <td>{{user.profile.location}}</td>
        </tr>
        <tr>
            <td>Maritial Status </td>
            <td>:</td>
            <td>{{user.profile.marital_status}}</td>
        </tr>
        <tr>

            <td>Date Created </td>
            <td>:</td>
            <td>{{request.user.date_joined}}</td>
        </tr>
    </table>
</div>

</div>
{% endblock %}